body{
    margin: 0%;
    font-family: 'Noto Sans', sans-serif;
}

hr{
    border-top: 5px;
    border-width: 2px;
    width: 90%;
    border-color: aliceblue;
}

.main-p{
    margin-left: 5%;
    color: aliceblue;
    font-size: 1.2rem;
}

.main-container{
    min-height: 100vh;
    background-image: url("../Assets/CM-electric-home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-flex{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.logo{
    width: 50px;
}

.header-options{
    font-size: 1.2rem;
    color: aliceblue;
}

.header-options a{
    color: aliceblue;
    text-decoration: none;
}

.header-options:hover{
    text-decoration: underline whitesmoke;
    text-underline-offset: 50%;
}

.the-new{
    font-size: 1.2rem;
    color: aliceblue;
    margin-left: 6%;
    margin-top: 3%;
}

.highlight{
    font-size: 5rem;
    color: aliceblue;
    margin-left: 6%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.highlight-p{
    font-size: 1.2rem;
    color: aliceblue;
    margin-left: 6%;
    margin-top: 0%;
}

.main-button{
    background-color: rgba(26, 153, 192, 0.751);
    color: aliceblue;
    min-width: 15vw;
    min-height: 5vh;
    box-sizing: content-box;
    margin-left: 6%;
    margin-top: 1.5%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    border: none;
}

button:hover{
    text-decoration: underline;
}

.second-container{
    text-align: center;
    padding-bottom: 5%;
}

.purchasing-toolkit{
    font-size: 1.2rem;
}

.second-highlight{
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.reserve{
    width: 30%;
    float: left;
    margin-left: 5%;
}

.icons{
    width: 20%;
    margin-bottom: 0%;
}

.actions-p{
    margin-top: 0%;
}

.actions-button{
    background-color: white;
    border: black;
    border-width: 3px;
    border-style: solid;
    color: black;
    box-sizing: content-box;
    margin: 0;
}

.service{
    width: 30%;
    display: inline-block;
}

.customize{
    width: 30%;
    float: right;
    margin-right: 5%;
}

.third-container{
    min-height: 80vh;
    background-image: url("../Assets/CM-electric-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.third-highlight{
    color: aliceblue;
    margin-left: 6%;
    padding-top: 20%;
}


.details-container{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-left: 6%;
    margin-right: 6%;
}

.details-image{
    width: 25%;
    float: left;
    margin-right: 2.5%;
}

.details-header{
    font-size: 1.2rem;
}

.social-media-logos{
    height: 2%;
    width: 2%;
}

.contact-container{
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 5%;
    padding-top: 10%;
    background-color: #F5F5F5;
    margin-bottom: 0;
}

.contact-card{
    flex-basis: 1;
    width: 40%;
}

.discover-card{
    flex-basis: 1;
    width: 40%;
}

.social-media-card{
    margin-top: 3%;
    flex-basis: 1;
    width: 80%;
    height: max-content;
}

.contact-titles{
    margin-bottom: 10%;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer{
    background-color: #F5F5F5;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    text-align: center;
    margin-top: 0;
}

.footer-p{
    position: relative;
    top: 1.5vh;
    color: darkgray;
    font-size: 0.8rem;
}


@media (min-width: 318px) and (max-width: 480px){
    body{
        margin: 0%;
        font-family: 'Noto Sans', sans-serif;
    }
    
    .main-container{
        min-height: 50vh;
        background-image: url("../Assets/CM-electric-home-narrow.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .header-flex{
        display: none;
    }

    hr{
        display: none;
    }

    .logo{
        width: 50px;
    }

    .header-options{
        vertical-align: 10%;
        margin-left: 0%;
    }

    .main-p{
        margin-left: 0%;
        color: aliceblue;
        font-size: 1.2rem;
    }

    .the-new{
        margin-top: 10%;
        margin-left: 0%;
    }

    .highlight{
        font-size: 5rem;
        color: aliceblue;
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    
    .highlight-p{
        font-size: 1.2rem;
        color: aliceblue;
        margin-left: 0%;
        margin-top: 0%;
    }
    
    button{
        background-color: rgba(26, 153, 192, 0.751);
        color: aliceblue;
        min-width: 15vw;
        min-height: 5vh;
        box-sizing: content-box;
        margin-left: 0%;
        margin-top: 1.5%;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        border: none;
    }

    .reserve{
        width: 100%;
        margin: 0%;
    }

    .service{
        width: 100%;
        margin: 0%;
        margin-top: 10%;
    }

    .customize{
        width: 100%;
        margin: 0%;
        margin-top: 10%;
    }

    .third-container{
        min-height: 50vh;
        margin-top: 50%;
        background-image: url("../Assets/CM-electric-back-narrow.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: block;
    }
    
    .third-highlight{
        color: aliceblue;
        margin-left: 6%;
        padding-top: 40%;
    }

    .details-container{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: center;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .details-image{
        width: 80%;
        float: none;
    }

    .social-media-logos{
        height: 5%;
        width: 5%;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
        padding-top: 5%;
        background-color: #F5F5F5;
    }
    
    .contact-card{
        flex-basis: 1;
        width: 100%;
        text-align: center;
    }
    
    .discover-card{
        flex-basis: 1;
        width: 100%;
        text-align: center;
    }
    
    .social-media-card{
        margin-top: 3%;
        flex-basis: 1;
        width: 100%;
        text-align: center;
        height: max-content;
    }

    .contact-titles{
        margin-bottom: 3vh;
        font-size: 1.2rem;
        font-weight: bold;
    }

}

@media (min-width: 481px) and (max-width: 800px){
    body{
        margin: 0%;
        font-family: 'Noto Sans', sans-serif;
    }
    
    .main-container{
        min-height: 70vh;
        background-image: url("../Assets/CM-electric-home-narrow.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
    }

    .logo{
        width: 50px;
    }
    
    .header-options{
        vertical-align: 10%;
        margin-left: 0%;
    }

    .main-p{
        margin-left: 0%;
        color: aliceblue;
        font-size: 1.2rem;
    }

    .the-new{
        margin-top: 10%;
        margin-left: 0%;
    }

    .highlight{
        font-size: 5rem;
        color: aliceblue;
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    
    .highlight-p{
        font-size: 1.2rem;
        color: aliceblue;
        margin-left: 0%;
        margin-top: 0%;
    }
    
    button{
        background-color: rgba(26, 153, 192, 0.751);
        color: aliceblue;
        min-width: 15vw;
        min-height: 5vh;
        box-sizing: content-box;
        margin-left: 0%;
        margin-top: 1.5%;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        border: none;
    }

    .reserve{
        width: 100%;
        margin: 0%;
    }

    .service{
        width: 100%;
        margin: 0%;
        margin-top: 10%;
    }

    .customize{
        width: 100%;
        margin: 0%;
        margin-top: 10%;
    }

    .third-container{
        min-height: 70vh;
        margin-top: 50%;
        background-image: url("../Assets/CM-electric-back-narrow.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: block;
    }
    
    .third-highlight{
        color: aliceblue;
        margin-left: 6%;
        padding-top: 50%;
    }

    .details-container{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: center;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .details-image{
        width: 80%;
        float: none;
    }

    .social-media-logos{
        height: 5%;
        width: 5%;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
        padding-top: 5%;
        background-color: #F5F5F5;
    }
    
    .contact-card{
        flex-basis: 1;
        width: 100%;
        text-align: center;
    }
    
    .discover-card{
        flex-basis: 1;
        width: 100%;
        text-align: center;
    }
    
    .social-media-card{
        margin-top: 3%;
        flex-basis: 1;
        width: 100%;
        text-align: center;
        height: max-content;
    }

    .contact-titles{
        margin-bottom: 3vh;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

@media (min-width: 801px) and (max-width: 1200px){
    body{
        margin: 0%;
        font-family: 'Noto Sans', sans-serif;
    }
    
    .main-container{
        min-height: 100vh;
        background-image: url("../Assets/CM-electric-home-narrow.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .logo{
        width: 50px;
    }

    .header-options{
        vertical-align: 50%;
    }

    .third-container{
        min-height: 100vh;
        margin-top: 0%;
        background-image: url("../Assets/CM-electric-back-narrow.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
    }
    
    .third-highlight{
        color: aliceblue;
        margin-left: 6%;
        padding-top: 40%;
    }

    .details-image{
        width: 50%;
        float: left;
    }

    .contact-container{
        display: flex;
        width: 100%;
        height: 30vh;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding-bottom: 10%;
        padding-top: 10%;
        background-color: #F5F5F5;
    }
}